<div class="" style=" position:fixed; left:25%; top:15px; width:50%;  padding:15px; border-color:#555; border-style:solid; background-color:#eeeeee; border-width:1px;">
    <img src="assets/logo_h.png" class="img-responsive text-center" style="margin-bottom:30px;">
    <div class="form" >
        <div class="form-group">
            <label>Login</label>
            <input type="text" class="form-control" ng-model="login.login">
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" placeholder="" ng-model="login.senha">
        </div>
        <input type="button" class="btn btn-block" style="color:#fff; background-color:#234259; margin-top:20px;" value="Login" ng-click="logar(login)">
        <label style="margin-top:20px;" class="btn-block text-center alert alert-warning">{{erroDeLogin}}</label>
    </div>
</div>