<div >
    <h2 class="sub-titulo">Trabalhos realizados</h2>
    <hr>
    <linha style="margin-top:20px;">
        <div class="trabalho-realizado col-lg-3 col-md-4 col-sm-6" ng-repeat="trabalho in listaDeTrabalhos" style="margin-bottom:20px;" >
                    <div class="gallery-box" >
                        <img ng-src="{{trabalho.url}}" class="img-responsive img-rounded" alt="Imagem {{$index}}" >
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div class="row">
                                       <div class="col-lg-12">
                                           <a href="" class="icon-md " ng-click="editarTrabalho($index)">Editar</a>
                                       </div>
                                       <br>
                                        <div class="col-lg-12">
                                             <a href="" class="icon-md " ng-click="excluir($index)">Excluir</a>
                                        </div>
                                   </div>
                            </div>
                        </div>
                       
                    </div>
                     <label class="text-center">Trabalho-{{$index + 1}}</label>
        </div>
    </linha>

    <a href="" style=" position:fixed; right:50px; bottom:50px; height:50px; width:50px;" ng-click="addTrabalho()"><img src="assets/add.png" class="img-responsive" /></a>
</div>
    
 