.esconder{
    display: none;
}
.mostrar{
    display: block;
}
.sub-titulo{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#888;

}
.label{
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#555;
    font-size: 0.8em;
}

.trabalho-realizado{
    border-style: solid;
    border-color: #bbb;
    padding: 2px;
    border-width: 1px;
    
}